# Python Basics

## Numbers and Arithmetic operators

In [21]:
5+4

9

In [22]:
54 - 6+7

55

In [23]:
(67 - 8+3)/2

31.0

In [24]:
 4 - 6.76 +3

0.2400000000000002

In [25]:
8/4 #division gives floating number result

2.0

In [26]:
45/4 #division gives floating number result

11.25

In [27]:
6//4 #floor division gives the interger result

1

In [28]:
13%3 # the % operator returns the remainder of the division

1

In [29]:
4**2 #4 squared

16

In [30]:
3**4 # 3 to the power 4

81

In [31]:
width = 25
height = 5 * 4
width * height

500

## String

In [32]:
word = "Python"

In [33]:
word[1]

'y'

In [34]:
word[1:3]

'yt'

In [35]:
word[2:]

'thon'

In [36]:
word[-1]

'n'

In [37]:
word[-3]

'h'

In [38]:
word[1:-1]

'ytho'

In [39]:
word[:2]+word[2:]

'Python'

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

In [40]:
"J" + word[1:]

'Jython'

In [41]:
word[:2] + "py"

'Pypy'

In [42]:
st = "qwerty"
len(st) #built-in functionc len() returns length of string

6

## Lists

In [43]:
l = [1,2,3,4,5]

In [44]:
l

[1, 2, 3, 4, 5]

In [45]:
l[0]

1

In [46]:
l[1:3]

[2, 3]

In [47]:
l[2:]

[3, 4, 5]

In [48]:
l[:3]

[1, 2, 3]

In [49]:
l[-1]

5

In [50]:
l[:-3]

[1, 2]

In [51]:
l[1:-2]

[2, 3]

In [52]:
l[-4:-1]

[2, 3, 4]

In [53]:
l[4] = 6
l

[1, 2, 3, 4, 6]

In [57]:
l = l + [7,8,9]

In [58]:
l.append(10)
l

[1, 2, 3, 4, 6, 1, 7, 8, 9, 10]

In [59]:
l.append(10+1)

In [60]:
l

[1, 2, 3, 4, 6, 1, 7, 8, 9, 10, 11]

In [61]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [62]:
letters[2:4] = ['C','D']

In [63]:
letters

['a', 'b', 'C', 'D', 'e', 'f', 'g']

In [64]:
letters[2:4] = []

In [66]:
letters

['a', 'b', 'e', 'f', 'g']

In [67]:
letters[:] = []
letters

[]

In [68]:
letters = ['a','b','c']
len(letters)

3

In [69]:
a = ['d','e','f']
b = letters + a

In [70]:
b

['a', 'b', 'c', 'd', 'e', 'f']

In [71]:
d = [1,2,3,4]
e = letters + d
e

['a', 'b', 'c', 1, 2, 3, 4]

In [72]:
h = [letters, d]
h

[['a', 'b', 'c'], [1, 2, 3, 4]]

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [2]:
fruits.count('apple')

2

In [3]:
fruits.count("kiwi")

1

In [4]:
fruits.index("pear")

2

In [5]:
fruits.index("banana", 4) #find banana index after 4th index position

6

In [6]:
fruits.reverse()

In [7]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [8]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [9]:
fruits.pop()

'pear'

In [10]:
fruits.insert(4, "pear")

In [11]:
fruits

['apple', 'apple', 'banana', 'banana', 'pear', 'kiwi', 'orange']

In [16]:
# delete function
del fruits[5]

In [17]:
fruits

['apple', 'apple', 'banana', 'banana', 'pear', 'orange']

In [56]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [57]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

## List Comperhension

In [12]:
sqs = [x**2 for x in range(10)]
sqs

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
comb = [(x,y) for x in [1,2,3] for y in [3,2,1] if x != y]
comb

[(1, 3), (1, 2), (2, 3), (2, 1), (3, 2), (3, 1)]

In [14]:
#transpose matrix
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [15]:
#using builtin function zip to unpack

list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## Tuples

In [18]:
t = 12, 345, "python"

In [19]:
t[0]

12

In [20]:
t

(12, 345, 'python')

In [21]:
v = ([123, 987],[567, 432])

In [22]:
v

([123, 987], [567, 432])

In [23]:
t1 = ()
len(t1)

0

In [25]:
t2 = "hello",
len(t2)

1

In [26]:
t2

('hello',)

## sets

In [27]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket #duplicates will be removed

{'apple', 'banana', 'orange', 'pear'}

In [28]:
'pear' in basket

True

In [29]:
'grapes' in basket

False

In [30]:
# set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')

In [33]:
a

{'a', 'b', 'c', 'd', 'r'}

In [34]:
a-b  # letters in a but not in b

{'b', 'd', 'r'}

In [36]:
a|b # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [39]:
a&b #letters in both a and b

set()

In [37]:
a^b #letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [38]:
a = {x for x in 'abracadabra' if x not in 'abc'} # set comperhensions
a

{'d', 'r'}

In [58]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(set(basket)):
    print(i)

apple
banana
orange
pear

## Dictionaries

In [40]:
tel = {'jack': 4098, 'sape': 4139}
tel

{'jack': 4098, 'sape': 4139}

In [42]:
tel['matt'] = 4012
tel

{'jack': 4098, 'sape': 4139, 'matt': 4012}

In [43]:
tel['jack']

4098

In [44]:
del tel['sape']

In [46]:
tel

{'jack': 4098, 'matt': 4012}

In [47]:
tel['sean'] = 4231

In [48]:
list(tel)

['jack', 'matt', 'sean']

In [49]:
sorted(tel)

['jack', 'matt', 'sean']

In [50]:
'sean' in tel

True

In [51]:
'jack' not in tel

False

In [52]:
# dict can also be defined in below manner
t2 = dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])
t2

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [53]:
# dict comprehensions
{x:x+2 for x in range(15)}

{0: 2,
 1: 3,
 2: 4,
 3: 5,
 4: 6,
 5: 7,
 6: 8,
 7: 9,
 8: 10,
 9: 11,
 10: 12,
 11: 13,
 12: 14,
 13: 15,
 14: 16}

In [54]:
# looping in dict
d = {'python': 'is 3.11', 'Django': 'is 4.5'}
for k, v in d.items():
    print(k, v)

python is 3.11
Django is 4.5

In [55]:
for i, v in enumerate(['tic', 'tac', 'toe']): # position index is fetched using enumerate 
    print(i, v)

0 tic
1 tac
2 toe

## Control flows

### if statments

In [73]:
a = int(input("Enter integer: "))
if a < 0:
    a = 0
    print("Changed to 0 as number was negative")
elif a == 0:
    print("Zero")
elif a < 11:
    print("Number is between 1 to 10")
else:
    print(a)

Enter integer: 12
12

### while statments

In [76]:
#Fibonacci series

a = 0
b = 1
while a < 1500:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

### For statements

In [77]:
w = ["math", "logic", "qwerty"]
for i in w:
    print(i, len(i))

math 4
logic 5
qwerty 6

In [79]:
#sample collection

users = {'Hans':'active', 'sean':'inactive', 'matt':'active', 'ricky':'inactive'}

for user, status in users.copy().items():
    if status == "inactive":
        del users[user]
        
# create new collection of active user
active_user = {}
for user, status in users.items():
    if status == 'active':
        active_user[user] = status
print(active_user)

{'Hans': 'active', 'matt': 'active'}

### range function

In [80]:
for i in range(5):
    print(i)

0
1
2
3
4

In [82]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [83]:
list(range(0,15,3))

[0, 3, 6, 9, 12]

In [85]:
a = ["math", "logic", "python", "C"]
for i in range(len(a)):
    print(i, a[i])

0 math
1 logic
2 python
3 C

In [86]:
sum(range(5))

10

### break and continue Statements, and else Clauses on Loops

In [87]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [88]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found even an number", num)
        continue
    print("Found odd an number", num)

Found even an number 2
Found odd an number 3
Found even an number 4
Found odd an number 5
Found even an number 6
Found odd an number 7
Found even an number 8
Found odd an number 9

## Formatted String Literals

In [59]:
import math
print(f'The value of pi is approximately {math.pi:.3f}.')

The value of pi is approximately 3.142.

In [60]:
t3 = {'matt': 4127, 'Jack': 4098, 'sean': 7678}
for name, phone in t3.items():
    print(f'{name} => {phone}')

matt => 4127
Jack => 4098
sean => 7678

## string format

In [61]:
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [62]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {0[Jack]:d}; Sjoerd: {0[Sjoerd]:d}; '
      'Dcab: {0[Dcab]:d}'.format(table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678

## Defining Functions

In [89]:
def fibn(n):
    # fibonacci series
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()
    
fibn(2500)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [91]:
# function with return statment
def fibn2(n):
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

f = fibn2(100)
f

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [92]:
#Default Argument Values
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)
        
ask_ok('Do you really want to quit?')

Do you really want to quit?ye

True

## Lambda Function

In [93]:
def increment(n):
    return lambda x: x+n

incr = increment(10)
incr(2)

12

In [97]:
x = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
x.sort(key=lambda pair: pair[1])
x

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [98]:
def func():
    """ Document string.

    It doesn't do anything.
    """
    pass

print(func.__doc__)

 Document string.

    It doesn't do anything.

## File Handlings

In [63]:
f = open('file.txt', 'w', encoding="utf-8")

In [64]:
f.close()

In [66]:
# using with keyword to open file
with open('file.txt', encoding="utf-8") as f:
    read_data = f.read()

In [67]:
read_data

''

In [68]:
f.closed # to check whether file is closed automatically

True

In [70]:
with open('file.txt', encoding="utf-8") as f:
    print(f.read())

This is the test file.
file is text type.

In [71]:
with open('file.txt', encoding="utf-8") as f:
    print(f.readline())

This is the test file.

In [73]:
with open('file.txt', encoding="utf-8") as f:
    for line in f:
        print(line, end='')

This is the test file.
file is text type.

In [78]:
with open('file.txt','a', encoding="utf-8") as f:
    f.write('\nThis is thrid line. \n')